{{range . }}{{repeat "─" 50 | gray}}

{{hiBlack .Name}}

{{magenta "4-Star:"}} {{white "%2d" .Progress4}} / {{hiBlack "%d" .Pity4}}
{{yellow "5-Star:"}} {{white "%2d" .Progress5}} / {{hiBlack "%d" .Pity5}}

{{$Progress := .Progress -}}
{{range .Items5 -}}
    {{.ColoredString}}{{index $Progress .ID | hiBlack "(%d) "}}
{{- end}}

{{if gt .Count 0}}{{hiBlack "%s ~ %s" .First .Last}}{{end}}

{{end}}{{repeat "─" 50 | gray}}